/* CSS variables */

:root {
  --first-color: #27003f;
  --second-color: #580958;
  --third-color: #a91079;
  --fourth-color: #ff00d0;
  --text-light: whitesmoke;
  --text-dark: rgb(210, 210, 210);
}

/* base styles */

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background: var(--first-color);
  color: whitesmoke;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p,
a,
td,
th {
  font-size: 0.9rem;
}

input,
textarea,
select,
option {
  font-family: 'Poppins', sans-serif;
}

.sidebar {
  width: 14rem;
  height: 100vh;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.2s ease-in-out;
  transform: translateX(0);
}

.sidebar-close {
  transform: translateX(-11rem);
}

.sidebar-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-parent {
  margin-left: 15rem;
}

.main-close {
  margin-left: 3rem;
}
