/* CSS variables */

:root {
  --first-color: #27003f;
  --second-color: #580958;
  --third-color: #a91079;
  --fourth-color: #ff00d0;
  --text-light: white;
  --text-dark: rgb(220, 220, 220);
}

/* base styles */

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  overflow-x: hidden;
  background: var(--first-color);
  max-width: 98vw;
  margin-inline: auto;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: var(--text-dark);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

p,
a,
td,
th {
  font-size: 0.9rem;
}

input,
textarea,
select,
option {
  border: none;
  font-family: 'Poppins', sans-serif;
}

input:focus,
textarea:focus {
  outline: none;
}

/* sidebar style */

.sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 18rem;
  height: 97vh;
  padding: 1rem;
  background-color: var(--second-color);
  color: var(--text-dark);
  border-radius: 1rem;
  transform: translateX(0);
  overflow-y: scroll;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar-close {
  transform: translateX(-19rem);
}

.logo {
  padding: 0.5rem;
  background: var(--first-color);
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.bold {
  color: #ff00d0;
}

.admin-account {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem;
  background: var(--first-color);
  border: 2px solid var(--fourth-color);
  border-radius: 3rem;
}

.admin-image img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.admin-desc p {
  font-size: 0.8rem;
}

.admin-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  padding: 0.45rem 0.5rem;
  background: var(--third-color);
  border-radius: 1.5rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-left: 2rem;
}

.sidenav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

@media (max-width: 30em) {
  .sidebar {
    transform: translateX(-19rem);
    z-index: 1;
  }

  .sidebar-close {
    transform: translateX(0);
  }

  .main-parent {
    margin-left: 1rem;
  }
}

/* navigation style */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem 1rem;
  border-bottom: 2px solid var(--fourth-color);
}

.nav-first-col {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-form {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.nav .ham-btn,
select,
input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 1rem;
  background: var(--second-color);
  color: var(--text-light);
  border: none;
  transition: all 0.3s ease-in-out;
}

.ham-btn {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.nav input {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.nav select {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

/* pages global style */

main {
  background: var(--first-color);
  min-height: 100vh;
}

.main-parent {
  margin-left: 19rem;
}

.main-content {
  display: grid;
  place-content: center;
}

.main-close {
  margin-left: 1rem;
}
